@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
    margin:0;
    padding: 0;
    font-family:'Montserrat',sans-serif;
}
.hero{
   width: 100%;
   height: 100vh;
   background-image: url(img/background.png);
   background-size: cover;
   background-position: center; 
   position: relative;
   overflow:hidden;
 
}
.logo{
    width: 150px;
    cursor: pointer;
}

.nav{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


 
}

button{
    color : #fbfcfd;
    padding : 10px 25px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
#b1{
    border-radius: 20px;
    font-weight: 700;
}
.content{
    color : #fbfcfd;
    position: absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);
    z-index: 2;

}
#t1{
    font-size: 70px;
    margin: 10px 0 30px;
    line-height: 80px;
    font-weight: 800;
}
#t3{
    font-size: 40px;
    font-weight: 700;
}
.b1{
    margin-top: 10px;
}
.bubble img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubble{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 2;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
    
}

.bubble img:nth-child(1){
    animation-delay: 2s;

}

.bubble img:nth-child(2){
    animation-delay: 1s;
    
}

.bubble img:nth-child(3){
    animation-delay: 3s;
    
}

.bubble img:nth-child(4){
    animation-delay: 4.5s;
    
}

.bubble img:nth-child(5){
    animation-delay: 3s;
    
}

.bubble img:nth-child(6){
    animation-delay: 6s;
    
}

.bubble img:nth-child(7){
    animation-delay: 7s;
    
}

.bubble img:nth-child(8){
    animation-delay: 8s;
    
}
#preloader{
    background: #fff url(recycle-icon.gif) no-repeat center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
}

#link{
    visibility: hidden;
}





